*/__pycache__
*.DS_Store
dataset/Audio_Speech_Actors_01-24
dataset/Audio_Song_Actors_01-24
dataset/TESS
dataset/emotions
/preprocessed
/preprocessed_test
/plots_results
/uploads
/static
model_fold_*
/model_fold_*